.caixa-01 {
    border: 5px solid;
    border-color: black;
    height: 100px;
    width: 100px;
    text-align: center;

}

.aumentar-caixa {
    height: 200px;
    width: 200px;
    text-align: center;
}

.caixa-normal {
    height: 100px;
    width: 100px;
    text-align: center;

}

.caixa-azul {
    background-color: blue;
    color: black;
    
}

.caixa-vermelha {
    background-color: red;
    color: black;
}

.caixa-verde {
    background-color: green;
    color: black;
}

.botoes-cores {
background-color:lightblue
}

button:hover {
    background: #0ea5e9;
    transform: translateY(-2px);
}


.imagem1{
height: 300px;;
width: 300px;
margin-top: 100px;
text-align: center;
}

.apresentar-nomes{
  padding-right: 100px;  
    margin-top: 100px;
}

