.caixa-01 {
    border: 5px solid;
    border-color: black;
    height: 100px;
    width: 100px;
    text-align: center;

}

.aumentar-caixa {
    height: 200px;
    width: 200px;
    text-align: center;
}

.caixa-normal {
    height: 100px;
    width: 100px;
    text-align: center;

}

.caixa-azul {
    background-color: blue;
    color: black;

}

.caixa-vermelha {
    background-color: red;
    color: black;
}

.caixa-verde {
    background-color: green;
    color: black;
}

.botoes-cores {
    background-color: lightblue
}

button:hover {
    background: #0ea5e9;
    transform: translateY(-2px);
}


.imagem1 {
    height: 300px;
    width: 300px;
    text-align: center;
    display: block;

}

.apresentar-nomes {
    padding-right: 100px;


}

.card-01 {
    padding: 15px;
    height: 350px;
    width: 300px;
    text-align: center;
    display: block;
    border: solid 2px black;
}

.tema1 {

    background-color: white;
}

.tema2 {

    background-color: black;
}

.tema3 {

    background-color: purple;

}